footer {
  padding: 50px 0 100px;
}

.contacts  {
  margin-bottom: 50px;
}

.contacts-wrapper {
  margin-bottom: 40px;
}

.contacts-text {
  position: relative;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  padding-left: 65px;
}



.contacts-text::before {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.contacts-item {
  display: inline-block;
}

.contacts-text:not(:last-child) {
  margin-bottom: 10px;
}
.contacts-item:not(:last-child) {
  margin-right: 25px;
}

.text-location::before {
  content: '';
  background-image: url("../img/svg/location.svg");
}

.text-phone::before {
  content: '';
  background-image: url("../img/svg/phone.svg");
}

.text-mail::before {
  content: '';
  background-image: url("../img/svg/mail.svg");
}

