footer {
  padding-top: 50px;
  padding-bottom: 10px;
}

.contacts-wrapper {
  margin-bottom: 35px;
}

.contacts-text {
  position: relative;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  padding-left: 65px;
}

.contacts-text::before {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.contacts-list {
  display: flex;
  gap: 25px;
}

.contacts-text:not(:last-child) {
  margin-bottom: 10px;
}

.text-location::before {
  content: '';
  background-image: url("../img/svg/location.svg");
}

.text-phone::before {
  content: '';
  background-image: url("../img/svg/phone.svg");
}

.text-mail::before {
  content: '';
  background-image: url("../img/svg/mail.svg");
}

.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 155px;
}

.map__img {
  object-fit: cover;
}

.footer-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.6;
}

.footer-info__text:not(:first-child) {
  margin-top: 5px;
}

.link>svg:hover{
  fill: #EADEED;
}

.link>svg:active{
  fill: #CD06FF;
}

.text-phone:hover,
.text-mail:hover,
.footer-info__gmail:hover {
  opacity: 1;
  color: #CD06FF;
}

