.header {
  padding-top: 30px;
  padding-bottom: 25px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  object-fit: contain;
  display: block;
}

.navigation__list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  line-height: 50px;
  text-transform: uppercase;
}

.navigation__item:not(:last-child) {
  margin-right: 40px;
}

.navigation__item:hover {
  color: #CD06FF;
}

.header__buy {
  font-size: 22px;
  line-height: 30px;
  font-weight: 700;
  color: #fff;
  background-color: inherit;
  text-transform: uppercase;
  padding: 12px 29px;
  border: 3px solid #CD06FF;
  border-radius: 10px;
}

.header__buy:hover,
.header__buy:focus {
  background-color: #CD06FF;
  transition: background-color .2s;
}

.header__buy:active {
  background-color: #640AA3;
  border: 3px solid #000;
  transition: background-color .2s, border .2s;
}

