.form__overlay,
.dropdown__menu {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: 0.3s ease-in-out;
  visibility: hidden;
  width: 100%;
  z-index: 10;
}

.form__overlay.is-visible {
  opacity: 1;
  visibility: visible;
}

.form__overlay.is-visible .modal__container {
  opacity: 1;
  top: 40px;
}

.modal__container {
  max-width: 600px;
  max-height: 500px;
  padding: 60px 130px;
  position: absolute;
  left: 50%;
  top: 0;
  opacity: 0;
  transform: translateX(-50%);
  transition-property: top, opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  background-color: #440F51;
  z-index: 20;
}

.modal__close {
  position: absolute;
  right: 20px;
  top: 20px;
  display: block;
  width: 42px;
  height: 42px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/svg/close.svg");
  background-color: inherit;
  border: none;
}

.modal__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  padding-bottom: 40px;
  text-align: center;
}

.modal__form {
  display: flex; 
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}

.modal__item {
  width: 280px;
}

.modal__item label {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 5px;
}

.modal__item input {
  width: 280px;
  padding: 10px 20px;
}

.modal__btn {
  width: 300px;
  padding: 15px 50px;
  background-color: #fff;
  color: #6C0287;
  border-radius: 10px;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  border: none;
  margin: 0 auto;
}

.dropdown__menu-btn {
  display: none;
}

.dropdown__menu {
  position: absolute;
  top: 0;
}

.dropdown__menu.is-visible {
  opacity: 1;
  visibility: visible;
  top: 88px;
}

.dropdown__menu-container {
  width: 100%;
  padding: 60px 0;
  background-color: #1B1A1B;
}

.dropdown__menu-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
}

.dropdown__menu-list li{
  width: 100%;
  padding: 10px 0;
  font-size: 22px;
  line-height: 22px;
  text-transform: uppercase;
  text-align: center;
}

.dropdown__menu-list li:hover{
  background-color: #6C0287;
}

.dropdown__menu-list li:active{
  background-color: #CD06FF;
}



@media (max-width: 700px) {
  .modal__container {
    max-width: 280px;
    padding: 60px 30px;
  }
  
  .modal__close {
    width: 30px;
    height: 30px;
  }
  
  .modal__item {
    width: 220px;
  }

  .modal__item input{
    width: 220px;
  }

  .dropdown__menu-container {
    padding: 40px 0;
  }

  .dropdown__menu-list {
    margin-bottom: 40px;
  }
  
  .modal__btn {
    display: block;
    width: 220px;
    padding: 12px 30px;
    font-weight: 700;
    font-size: 18px;
  }
}