.about__title {
  margin-bottom: 50px;
  font-size: 40px;

}

.about__context-wrapper {
  display: inline-block;
  max-width: 500px;
  margin-left: 75px;
  vertical-align: top;
}
.about__img {
  display: inline;
}

.about__blockquote {
  position: relative;
}

.about__text-wrapper {
  margin-bottom: 70px;
}

.about__text {
  font-size: 20px;
  line-height: 20px;
}

.about__text:not(:last-child) {
  margin-bottom: 20px;
}

.about-blockquote {
  margin: 0;
}

.about-blockquote__text {
  font-size: 44px;
  line-height: 50px;
  text-transform: uppercase;
}

.about-blockquote__wrapper {
  padding-left: 25px;
  position: relative;
  margin-bottom: 40px;
}

.about-blockquote__wrapper::before,::after {
  font-size: 44px;
  font-weight: 700;
  color: #6C0287;
  position: absolute;
}

.about-blockquote__wrapper::before {
  content: "“";
  left: 0;
}

.about-blockquote__wrapper::after {
  content: "”";
  right: 125px;
  bottom: 0;
}

.about-blockquote__city-wrapper {
  width: 275px;
  margin-left: auto;
}

.about-blockquote__city {
  position: relative;
  font-size: 20px;
  line-height: 28px;
}

.about-blockquote__city::before {
  content: "";
  background-image: url("/img/jpg/people.jpg");
  width: 80px;
  height: 80px;
  position: absolute;
  left: -110px;
  top: 0;
  border-radius: 50%;
}