.section-form {
  background-color: #440F51;
}

.hall__label > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.form__item {
  margin-bottom: 60px;
  padding: 0;
}

.form__item-wrapper {
  display: flex;
}

.hall__wrapper {
  justify-content: space-between;
}

.form__item-title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.hall__label {
  flex-basis: 250px;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  background-color: #fff;
  border-radius: 10px;
  padding: 8px 15px;
  text-align: center;
  cursor: pointer;
}

.fun__wrapper {
  justify-content: space-around;
}

.fun__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 25px;
}

.fun__label {
  display: block;
  font-size: 22px;
  line-height: 25px;
}

.fun__label:not(:last-child) {
  margin-bottom: 20px;
}

.fun__label > input {
  vertical-align: middle;
  text-align: center;
  margin-right: 12px;
  width: 27px;
  height: 27px;
}

.data__wrapper {
  display: flex;
  justify-content: space-around;
}

.data__item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 35px;
}

.data__item-wrapper {
  position: relative;
}

.personal__item-number,
.data__item-wrapper > input {
  width: 300px;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 28px;
  color: #000;
  border-radius: 5px;
}

.personal__item-number {
  position: relative;
}


.personal__item-number::placeholder,
.personal__item-text::placeholder{
  color: #211E1E;
}


.data__item-wrapper > label {
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  top: -20px;
  left: 0;
}

.data__item-btn {
  font-weight: 700;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  color: #6C0287;
  padding: 15px 0;
}

.personal__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.personal__item-wrapper {
  position: relative;
}

.personal__item-text {
  width: 135px;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 28px;
  border-radius: 5px;
}

.pesonal__item-btn {
  background-image: url('/img/png/arrow.png');
  position: absolute;
  width: 21px;
  height: 15px;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}




