.section-form {
  padding: 82px 0 30px;
  text-align: center;
  background-color: #440F51;
  font-size: var( --size-text--form, 22px);
  line-height: 25px;
}

.form__legend-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 40px;
}

.hall__wrapper {
  display: flex;
  column-gap: 60px;
}

.hall__input {
  display: none;
}

.hall__label {
  width: 250px;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  padding: 8px 0;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 60px;
}


.fun__wrapper {
  display: flex;
  justify-content: space-evenly;
  gap: 100px;
  margin-bottom: 40px;
}

.fun__item {
  display: flex;
  flex-direction: column;
}

.fun__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 24px;
  text-align: left;
}

.fun__label {
  display: flex;
  align-items: flex-start;
}

.fun__label>input {
  width: 27px;
  height: 27px;
  margin-bottom: 20px;
  margin-right: 12px;
}

.data__wrapper {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 37px;
}

.personal,
.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 36px;
}

.data__item-info {
  display: flex;
  gap: 50px;
}

.personal__item {
  display: flex;
  gap: 32px;
}

.personal__item-text,
.personal__item-number,
.info__item-text {
  padding: 12px 20px;
}

.personal__item-text::placeholder,
.personal__item-number::placeholder {
  font-size: 18px;
  line-height: 28px;
}

.personal__item-text {
  width: 134px;
}

.personal__item-number {
  width: 300px;
}

.info {
  gap: 14px;
}

.info__item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info__item-label {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 5px;
}

.info__item-text {
  width: 280px;
}

.big{
  width: 300px;
}

.data__item-btn {
  display: block;
  width: 300px;
  margin: 0 100px 0 auto;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #6C0287;
  padding: 16px 45px;
  border-radius: 10px;
  box-shadow: 0 0 5px 2px #ffffff;
  border: none;
}

.form input:focus {
  border: 2px solid #CD06FF;
  outline-color: #CD06FF;
  transition: all .2s;
}

@media (max-width: 1360px) {
  .section-form {
    padding: 63px 0 60px;
  }

  h2.section-form__title {
    margin-bottom: 41px;
  }

  .form__legend-title {
    margin-bottom: 26px;
  }
  
  .hall__label {
    width: 180px;
    font-size: 20px;
    line-height: 28px;
  }

  .fun__wrapper {
    justify-content: flex-start;
    gap: 111px;
  }

  .data__wrapper {
    justify-content: flex-start;
    gap: 50px;
    margin-bottom: 48px;
  }

  .info__item-text,
  .data__item-btn {
    width: 250px;
  }

  .data__item-btn {
    padding: 13px 45px;
    font-size: 18px;
    line-height: 28px;
    margin-left: auto;
    margin-right: 0;
  }
}

@media (max-width: 1000px) {
  .section-form {
    padding: 50px 0 54px;
  }

  .hall__label {
    width: 150px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 51px;
  }

  .form__legend-title {
    margin-bottom: 30px;
  }
  
  .hall__wrapper {
    justify-content: space-between;
    column-gap: 0;
  }

  .fun__wrapper {
    flex-wrap: wrap;
    gap: 12px 137px;
    margin-bottom: 49px;
  }

  .fun__label {
    align-items: center;
  }

  .fun__label:not(:last-child) {
    margin-bottom: 20px;
  }

  .fun__item:last-child>.fun__title {
    padding-top: 20px;
  }

  .fun__label>input {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    margin-bottom: 0;
  }

  .data__wrapper {
    flex-direction: column;
    justify-content: flex-start;
    gap: 42px;
  }

  .personal {
    flex-direction: row;
    justify-content: space-between;
  }

  .personal__item {
    gap: 14px;
  }

  .data__item-info {
    justify-content: space-between;
    gap: 0;
  }

  .info__item-text {
    width: 280px;
  }

  .big,
  .data__item-btn {
    width: 300px;
  }

  .data__item-btn {
    font-size: 22px;
    line-height: 28px;
  }
}

@media (max-width: 700px) {
  .section-form {
    padding: 31px 0;
  }

  h2.section-form__title {
    margin-bottom: 14px;
  }

  .form__legend-title {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
  }

  .hall__wrapper {
    flex-wrap: wrap;
    gap: 14px 20px;
    margin-bottom: 30px;
    justify-content: center;
  }

  .hall__label {
    width: 130px;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 0;
    padding: 1px 20px;
    border-radius: 4px;
  }

  .fun__wrapper {
    flex-direction: column;
    gap: 25px 0;
    margin-bottom: 34px;
  }

  .fun__title {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
  }

  .fun__item:last-child>.fun__title {
    padding-top: 16px;
  }

  .fun__label:not(:last-child) {
    margin-bottom: 15px;
  }

  .fun__label {
    font-size: 16px;
    line-height: 18px;
  }

  .fun__label>input {
    width: 30px;
    height: 30px;
    margin-right: 16px;
  }

  .personal {
    flex-direction: column;
    justify-content: flex-start;
    gap: 13px 0;
  }

  .data__wrapper {
    gap: 35px 0;
    padding-top: 10px;
    margin-bottom: 36px;
    justify-content: center;
    align-items: center;
  }

  .data__item-info {
    flex-direction: column;
    gap: 36px 0;
  }

  .big, .data__item-btn,
  .personal__item-number {
    width: 280px;
  }

  .data__item-btn {
    font-size: 18px;
    line-height: 26px;
    border-radius: 4px;
    padding: 15px 45px;
    margin: 0 auto;
  }
}


