.hall__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
}
.hall__list {
  display: flow-root;
}

.hall__item {
  width: 580px;
  float: right;
  background-position:center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}

.hall__item:not(:nth-child(2n)) {
  float: left;
  margin-right: 20px;
}

.hall__item:nth-child(n+2) {
  margin-bottom: 0;
}

.hall__item-vibes {
  background-image: url('../../img/jpg/vibes.jpg');
}

.hall__item-wars {
  background-image: url('../../img/jpg/starwars.jpg');
}

.hall__item-west {
  background-image: url('../../img/jpg/wildwest.jpg');
}

.hall__item-style {
  background-image: url('../../img/jpg/neonstyle.jpg');
}

.hall__item-text {
  font-size: 70px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  line-height: 80px;
  padding: 135px 0;
}