.present {
  padding-top: 25px;
}

.present__container {
  position: relative;
  z-index: 1;
  height: 825px;
}

.present__container::after {
  content: "";
  width: 675px;
  height: 762px;
  position: absolute;
  right: 130px;
  top: 65px;
  background-image: url('../../img/jpg/header.png');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
}

.present__title {
  font-size: 150px;
  font-weight: 900;
  line-height: 100%;
  text-transform: uppercase;
  letter-spacing: -0.1em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.present__subtitle {
  padding-left: 100px;
  font-size: 28px;
  line-height: 50px;
  margin-bottom: 65px;
}

.present__context-wrapper {
  margin-bottom: 150px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.present__context-item {
  flex-basis: 210px;
  text-align: center;
}

.present__context-title {
  font-size: 75px;
  line-height: 105px;
  font-weight: 900;
  color: var(--color-content, #CD06FF);
  text-transform: uppercase;
}

.present__context-subtitle {
  font-size: 30px;
  line-height: 34px;
}

.present__btn {
  background-color: #6C0287;
  border-radius: 10px;
  padding: 25px 75px;
  font-size: 26px;
  line-height: 30px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

.present__link {
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 85px;
  right: 47%;
  z-index: 20;
}

.present__btn:hover, 
.present__btn:focus {
  background-color: #840AA3;
  transition: background-color .2s;
}

.present__btn:active {
  background-color: #640AA3;
  transition: background-color .2s;
}

.present__link>svg:hover {
  fill: #fff;
  transition: fill .2s;
}

.present__link>svg:hover>rect {
  fill: #6C0287;
  transition: fill .2s;
}

.present__link>svg:active {
  fill: var(--color-content, #CD06FF);
  transition: fill .2s;
}

.present__link:focus {
  border: 1px solid var(--color-content, #CD06FF);
  outline: var(--color-content, #CD06FF);
  transition: border .2s, outline .2s;
}