.relax {
  padding-bottom: calc(50px + 70px);
}

.relax__title {
  line-height: 40px;
}

.relax__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px 20px;
}

.relax__item {
  flex-basis: 380px;
  height: 230px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.relax__item:nth-child(3n+2){
  transform: translateY(70px);
}

.relax__item:hover:nth-child(3n+2) {
  transform: scale(1.1);
  transition: transform .2s;
}


.relax__item-vr {
  background-image: url('/img/jpg/vr.jpg');
}

.relax__item-musics {
  background-image: url('/img/jpg/musics.jpg');
}

.relax__item-karaoke {
  background-image: url('/img/jpg/karaoke.jpg');
}

.relax__item-games {
  background-image: url('/img/jpg/games.jpg');
}

.relax__item-video {
  background-image: url('/img/jpg/video.jpg');
}

.relax__item-ps5 {
  background-image: url('/img/jpg/ps5.jpg');
}

.relax__text {
  max-width: 310px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  padding-left: 40px;
  padding-top: 166px;
}

.relax__item:hover {
  transform: scale(1.1);
  transition: transform .2s;
}

@media (max-width: 1360px) {
  .relax {
    padding-top: 92px;
    padding-bottom: calc(50px + 25px);
  }

  h2.relax__title {
    margin-bottom: 37px;
  }

  .relax__list {
    gap: 30px 10px;
  }

  .relax__item {
    flex-basis: 286px;
    height: 172px;
  }

  .relax__text {
    max-width: 100%;
    padding: 87px 15px 0;
  }

  .relax__item:nth-child(3n+2){
    transform: translateY(53px);
  }
}

@media (max-width: 1000px) {
  .relax {
    padding-top: 84px;
    padding-bottom: 30px;
  }

  h2.relax__title {
    margin-bottom: 30px;
  }

  .relax__list {
    gap: 20px;
  }

  .relax__item {
    flex-basis: 298px;
    height: 200px;
  }

  .relax__item:nth-child(3n+2){
    transform: none;
  }

  .relax__text {
    padding: 100px 30px 0;
  }
}

@media (max-width: 700px) {
  .relax {
    padding: 38px 0 17px;
  }

  h2.relax__title {
    margin-bottom: 15px;
  }

  .relax__list {
    gap: 9px;
  }

  .relax__item {
    flex-basis: 135px;
    height: 75px;
  }

  .relax__text {
    padding: 30px 10px 0;
    font-size: 10px;
    line-height: 14px;
  }
}