.description__content {
  display: flex;
  align-items: center;
  gap: 82px;
}

.description__text-wrapper {
  flex-basis: 430px;
  height: 160px;
  font-size: 20px;  
  line-height: 28px;
}

.description__text:first-child {
  margin-bottom: 15px;
}



@media (max-width: 1360px) {
  .description {
    padding-top: 20px;
  }

  h2.description__title {
    margin-bottom: 37px;
  }

  .description__icon {
    flex-basis: 461px;
    height: 326px;
  }

  .description__content {
    column-gap: 29px;
  }

  .description__text-wrapper {
    flex-basis: 400px;
    height: 152px;
    font-size: 18px;
    line-height: 28px;
  }
}

@media (max-width: 1000px) {
  .description {
    padding-top: 30px;
  }

  h2.description__title {
    margin-bottom: 29px;
  }

  .description__content {
    column-gap: 46px;
  }

  .description__icon {
    flex-basis: 329px;
    width: 329px;
    height: 326px;
  }

  .description__text-wrapper {
    flex-basis: 300px;
    font-size: 16px;
    height: 180px;
  }
}

@media (max-width: 700px) {
  .description {
    padding-top: 14px;
  }

  h2.description__title {
    margin-bottom: 15px;
  }

  .description__content {
    flex-direction: column;
    row-gap: 15px;
  }
  
  .description__icon {
    flex-basis: 180px;
    height: 180px;
  }
  
  .description__text-wrapper {
    flex-basis: 100%;
    font-size: 12px;
    line-height: 16px;
  }
}